<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h2><i><%= product.name %></i></h2>
    <ul>
        <li><b><i>Price: $</i></b><%= product.price %> </li>
        <li><b><i>Category: </i></b><a href="/products?category=<%= product.category %>"><b><i><%= product.category %></i></b></a> </li>
    </ul>
    <a href="/products/<%= product._id %>/edit"><b><i>Edit</i></b></a>
    <a href="/products"><b><i>Inventory</i></b></a>
    <br>
    <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>